In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/skylab_instagram_datathon_dataset.csv", sep=";")

# Converting the 'data_end_of_week' column to datetime
df['period_end_date'] = pd.to_datetime(df['period_end_date'])

df.shape

(704313, 15)

In [25]:
# information about the data before processing it -> run again after processing
df.describe(include='all')

,period,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
count,704313,704313,704313,704313,704313,676558,458589,676558,458589,704313,5.792580e+05,695803.000000,684349.000000,6.953430e+05,6.959770e+05
unique,1,NaN,20,54,706,423,26,401,30,1,NaN,NaN,NaN,NaN,NaN
top,Weekly,NaN,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,All Brands,LVMH Moet Hennessy Louis Vuitton SE,United States of America,LVMH Moet Hennessy Louis Vuitton SE,New York Stock Exchange,Metric Value,NaN,NaN,NaN,NaN,NaN
freq,704313,NaN,216241,113744,27755,27576,193509,27576,132071,704313,NaN,NaN,NaN,NaN,NaN
mean,NaN,2019-07-09 21:11:57.405471232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.342432e+07,344.272540,61.244426,3.043246e+04,2.163189e+06
min,NaN,2015-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,NaN,2017-06-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.013372e+05,19.000000,2.000000,3.710000e+02,1.727700e+04
50%,NaN,2019-07-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.104144e+06,44.000000,7.000000,1.435000e+03,9.318400e+04
75%,NaN,2021-08-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.479325e+06,122.000000,20.000000,5.872000e+03,4.577470e+05
max,NaN,2023-09-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.502565e+09,141746.000000,35905.000000,1.732046e+07,7.120711e+08
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.106975e+08,2777.396873,564.468480,2.766459e+05,1.803193e+07

# Process data

## Remove outliers

In [4]:
# Remove "All_Brands" and "Don't Use it"
df = df[df["business_entity_doing_business_as_name"] != "All Brands"]
# TODO: Remove "Don't Use it"

In [15]:
# certain entries have exact data except of "compset"
# we want to take the union of all of them

grouping_columns = [col for col in df.columns if col != 'compset']

df.fillna('Group_Null', inplace=True)
df = df.groupby(grouping_columns).agg({'compset': lambda x: set(x)}).reset_index()
df.replace('Group_Null', pd.NA, inplace=True)

In [11]:
result.describe(include='all')

,period,period_end_date,compset_group,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes,compset
count,298040,298040,298040,298040,298040,298040,298040,298040,298040,298040,298040.0,298040.0,298040.0,298040.0,298040
unique,1,NaN,19,705,423,27,401,31,1,222244,2625.0,1085.0,38639.0,177462.0,727
top,Weekly,NaN,Apparel Retail,Abercrombie & Fitch,LVMH Moet Hennessy Louis Vuitton SE,Group_Null,LVMH Moet Hennessy Louis Vuitton SE,Group_Null,Metric Value,Group_Null,0.0,0.0,0.0,0.0,[Beauty & Boutique]
freq,298040,NaN,68886,455,9632,99607,9632,99607,298040,61727,6963.0,41584.0,6056.0,5347.0,43811
mean,NaN,2019-07-29 07:54:48.170715392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,2015-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2017-07-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2019-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2021-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,2023-09-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
result.shape

(298040, 15)

## Add features

In [12]:
# split the date into year, month, day
df['Year'] = df['period_end_date'].dt.year
df['Month'] = df['period_end_date'].dt.month
df['Day'] = df['period_end_date'].dt.day

In [30]:
# get the difference between the current date and the previous date
df = df.sort_values(by=['business_entity_doing_business_as_name', 'period_end_date'])
df['date_diff_prev'] = df['period_end_date'].diff().dt.days
df['date_diff_prev'] = df['date_diff_prev'].fillna(7)

In [16]:
#df[df['date_diff_prev'] == 0]
result[(result["business_entity_doing_business_as_name"] == "dd's Discounts") & (result["period_end_date"] == "2023-09-09")]

,period,period_end_date,compset_group,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes,compset
296792,Weekly,2023-09-09,Apparel Retail,dd's Discounts,Ross Stores,United States of America,Ross Stores,NASDAQ Global Select,Metric Value,163788.0,7.0,1.0,20.0,4038.0,"{US Discount Store, US Softlines Analyst Inter..."