In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import os

from importlib import reload

#import process_gini as pg
#import plots
#import model as m

In [3]:
path = "../data/skylab_instagram_datathon_dataset.csv"
df = pd.read_csv(path.replace("/", os.sep), sep=";")

# Is investing in social media advertisement worth it?

1. [About the data](#About-the-data)
2. [Data Analysis](#Data-Analysis)
   1. [Subsection A](#Subsection-A)
   2. [Subsection B](#Subsection-B)
3. [Conclusion](#Conclusion)

## About the data

Before getting into the results. Let's have a look at the given dataset

In [4]:
shape = df.shape
print(f"Not to bore you, here are only a few facts:\n")
print(f"The dataset has {shape[0]} rows and {shape[1]} columns.")
print(f"It consists of the date after the data was collected over a week.")
print("By data we mean information about the Instagram account such as number of follower, number of comments, number of likes and so on.")
print("For the interested reader check out the column names:")

df.describe(include = "all").fillna(0)

Not to bore you, here are only a few facts:

The dataset has 704313 rows and 15 columns.
It consists of the date after the data was collected over a week.
By data we mean information about the Instagram account such as number of follower, number of comments, number of likes and so on.
For the interested reader check out the column names:

,period,period_end_date,compset_group,compset,business_entity_doing_business_as_name,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
count,704313,704313,704313,704313,704313,676558,458589,676558,458589,704313,5.792580e+05,695803.000000,684349.000000,6.953430e+05,6.959770e+05
unique,1,455,20,54,706,423,26,401,30,1,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
top,Weekly,2023-07-08,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,All Brands,LVMH Moet Hennessy Louis Vuitton SE,United States of America,LVMH Moet Hennessy Louis Vuitton SE,New York Stock Exchange,Metric Value,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
freq,704313,1635,216241,113744,27755,27576,193509,27576,132071,704313,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
mean,0,0,0,0,0,0,0,0,0,0,1.342432e+07,344.272540,61.244426,3.043246e+04,2.163189e+06
std,0,0,0,0,0,0,0,0,0,0,1.106975e+08,2777.396873,564.468480,2.766459e+05,1.803193e+07
min,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,0,0,0,0,0,0,0,0,0,0,3.013372e+05,19.000000,2.000000,3.710000e+02,1.727700e+04
50%,0,0,0,0,0,0,0,0,0,0,1.104144e+06,44.000000,7.000000,1.435000e+03,9.318400e+04
75%,0,0,0,0,0,0,0,0,0,0,4.479325e+06,122.000000,20.000000,5.872000e+03,4.577470e+05
max,0,0,0,0,0,0,0,0,0,0,3.502565e+09,141746.000000,35905.000000,1.732046e+07,7.120711e+08

## Data processing

### Data cleaning

### Adjust data

Besides of small typos such as ";France", the **major key observation** is that there are entries in the dataset that only differ by the column "compset". 
The **assumption** is that certain posts of the account might be advertising in extremely different competition areas. Therefore, those rows are merged and the union is taken for the "compset".

By doing so we were able to reduce the number of rows from 700'000 to 300'000.

In [5]:
grouping_columns = [col for col in df.columns if col != 'compset']

df.fillna('Group_Null', inplace=True)
result = df.groupby(grouping_columns).agg({'compset': lambda x: set(x)}).reset_index()
df = result
df = df.replace('Group_Null', np.nan)

/tmp/ipykernel_5328/3093655397.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Group_Null' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Group_Null', inplace=True)
/tmp/ipykernel_5328/3093655397.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('Group_Null', np.nan)